doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel ="stylesheet" href="header.css")
        link(rel ="stylesheet" href="queueInformation.css")
        script(src="/socket.io/socket.io.js")
        title Queue Information
    body 
        include includes/header.pug
        h1 Queue Information
        //- Information
        table
            thead 
                tr
                    th(colspan="2") General
                tr
                    th TimeStamp 
                    th #{JSON.stringify(jsonData["General"]['timestamp'])}
                tr
                    th Project 
                    th #{JSON.stringify(jsonData["General"]['project'])}
                tr  
                    th Name 
                    th #{JSON.stringify(jsonData["General"]['name'])}
                tr  
                    th State 
                    th #{JSON.stringify(jsonData["General"]['state'])}
        table   
            thead 
                tr 
                    th(colspan="2") Object 
                tr  
                    th RA 
                    th #{JSON.stringify(jsonData["Object"]['ra'])}
                tr  
                    th Dec 
                    th #{JSON.stringify(jsonData["Object"]['dec'])}
                tr 
                    th Epoch 
                    th #{JSON.stringify(jsonData["Object"]['epoch'])}
                tr 
                    th Mag 
                    th #{JSON.stringify(jsonData["Object"]['mag'])}

        table 
            thead 
                tr 
                    th(colspan="2") Observation 
                tr 
                    th Exposure,s 
                    th #{JSON.stringify(jsonData["Observation"]['exposure,s'])}
                tr  
                    th Filter 
                    th #{JSON.stringify(jsonData["Observation"]['filter'])}
        div#test 
        //-     #{JSON.stringify(textData["text"])}
        script.
            const socket = io();
            console.log("emitting queueConnection", socket)
            socket.emit("queueInformation")

            socket.on("send_queueInfo_data", (data) => {
                const tempid = document.querySelector("#test")
                tempid.textContent = data['text']
                console.log(data)
            })          
            